<aside id="sidebar" class="bg-azul text-yellow min-vh-100 d-flex flex-column p-3 transition-all align-items-center" style="width: 4rem;">
  <div class="d-flex flex-column align-items-center">
    <button id="toggleSidebar" class="btn btn-sm btn-outline-secondary text-yellow mb-3 fs-4">
      <i class="bi bi-list"></i>
    </button>
    <span class="fw-bold d-none sidebar-expanded text-center">Condo+</span>
  </div>

  <nav class="nav nav-link gap-2 w-100">
    <%# Dashboard %>
    <%= link_to dashboard_path, class: "nav-link text-yellow align-items-center justify-content-between sidebar-link" do %>
      <i class="bi bi-speedometer2 fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Dashboard</span>
    <% end %>

    <%# Configuração %>
    <%= link_to access_control_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-gear fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Configuração</span>
    <% end %>

    <%# Imobiliárias %>
    <%= link_to real_estate_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-building fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Imobiliárias Parceiras</span>
    <% end %>

    <%# Condomínios %>
    <%= link_to condominiums_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-houses fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Condomínios</span>
    <% end %>

    <%# Síndicos %>
    <%= link_to managers_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-person-check fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Síndicos</span>
    <% end %>

    <%# Mensageria %>
    <%= link_to chat_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-chat-dots fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Mensageria</span>
    <% end %>

    <%# Monetização %>
    <%= link_to billing_path, class: "nav-link text-yellow align-items-center justify-content-center sidebar-link" do %>
      <i class="bi bi-credit-card fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Monetização</span>
    <% end %>

    <%# Sair no final %>
    <%= link_to logout_path, method: :delete, class: "nav-link text-danger align-items-center justify-content-center sidebar-link mt-auto mb-2" do %>
      <i class="bi bi-box-arrow-right fs-4"></i>
      <span class="mt-1 d-none sidebar-expanded text-center">Sair</span>
    <% end %>
  </nav>
</aside>
